# 30M以上的大数据文件不上传

./contest/ICPC/2018/欧洲/NWERC西北欧/data/fastestspeedrun/data/secret/015-manycycles2k5.in
./contest/ICPC/2018/欧洲/NWERC西北欧/data/fastestspeedrun/data/secret/016-ones-and-twos1-2k5.in
./contest/ICPC/2018/欧洲/NWERC西北欧/data/fastestspeedrun/data/secret/017-ones-and-twos2-2k5.in
./contest/ICPC/2018/欧洲/NWERC西北欧/data/fastestspeedrun/data/secret/018-maxanswer.in
./contest/ICPC/2018/欧洲/NWERC西北欧/data/fastestspeedrun/data/secret/032-chain5_2k5.in
./contest/ICPC/2018/欧洲/NWERC西北欧/data/fastestspeedrun/data/secret/033-rand3_2k5.in
./contest/ICPC/2018/欧洲/NWERC西北欧/data/fastestspeedrun/data/secret/034-maxcycle.in
./contest/杭电多校/2016/1/data/1001.in
./contest/杭电多校/2016/3/data/1008.in
./contest/杭电多校/2016/6/数据/1004.in
./contest/杭电多校/2016/6/数据/1007.in
./contest/杭电多校/2020/1/data/boring-task.in
./contest/杭电多校/2020/1/data/hunting-monsters.in
./contest/杭电多校/2020/10/data/1005.in
./contest/杭电多校/2020/10/data/1009.in
./contest/杭电多校/2020/2/data/1003.in
./contest/杭电多校/2020/2/data/1006.in
./contest/杭电多校/2020/3/data/1001.in
./contest/杭电多校/2020/3/data/1003.in
./contest/杭电多校/2020/5/data/1002/B.in
./contest/杭电多校/2020/5/data/1004/D.in
./contest/杭电多校/2020/5/data/1010/J.in
./contest/杭电多校/2020/7/data/Animism/A.in
./contest/杭电多校/2020/7/data/Bitwise Xor/B.in
./contest/杭电多校/2020/7/data/Expectation/E.in
./contest/杭电多校/2020/7/data/Flower/F.in
./contest/杭电多校/2020/8/data/1004.in
./contest/杭电多校/2020/9/data/J/J.in
./contest/杭电多校/2021/1/data/maximal submatrix/1.in
./contest/杭电多校/2021/3/data/1001.in
./contest/杭电多校/2021/3/data/1004.in
./contest/杭电多校/2021/3/data/1005.in
./contest/杭电多校/2021/3/data/1010.in
./contest/杭电多校/2021/6/data/1008/1008.in
./contest/杭电多校/2021/7/data/1009 I/input.txt
./contest/杭电多校/2021/9/data/07/input.txt
./contest/杭电多校/2021/9/data/11/input.in
./contest/杭电多校/2022/10/data/1004.in
./contest/杭电多校/2022/10/data/1004.out
./contest/杭电多校/2022/10/data/1005.in
./contest/杭电多校/2022/10/data/1005.out
./contest/杭电多校/2022/10/data/1007.in
./contest/杭电多校/2022/3/data/1007.in
./contest/杭电多校/2022/3/data/1012.in
./contest/杭电多校/2022/4/data/1002/input2.txt
./contest/杭电多校/2022/5/data/1003/1003.in
./contest/杭电多校/2022/6/data/Yet Another Easy Permutation Count Problem/data/1.in
./contest/杭电多校/2022/7/std/1003/1003.in
./contest/杭电多校/2022/8/data/1008/1008.in
./contest/杭电多校/2022/9/data/1004/input.txt
./contest/杭电多校/2022/9/data/1006/input.txt
./contest/牛客多校/2020/7/data/D/2.out
./contest/牛客多校/2020/7/data/D/3.out
./contest/牛客多校/2021/1/data/J/03.in
./contest/牛客多校/2021/1/data/J/05.in
./contest/牛客多校/2021/1/data/J/06.in
./contest/牛客多校/2021/1/data/J/07.in
./contest/牛客多校/2021/1/data/J/08.in
./contest/牛客多校/2021/1/data/J/09.in
./contest/牛客多校/2021/1/data/J/10.in
./contest/牛客多校/2021/1/data/J/11.in
./contest/牛客多校/2021/1/data/J/12.in
./contest/牛客多校/2021/1/data/J/13.in
./contest/牛客多校/2021/1/data/J/14.in
./contest/牛客多校/2021/6/data/J/09.in

